$dark : #2b4150;
$purple: #cbcfd0;
$blue_card : #e3f2fd;


header {
    .navbar-custom {
        background-color: $blue_card;
        z-index: 10;

        .navbar-brand {
            img {
                margin-bottom: 4px;
            }

            span {
                font-weight: 600;
                color: $dark;
                font-size: 18px;
            }
        }


        .nav-link {
            color: $dark;
        }

        .active {
            color: $purple;
        }


        @media (min-width: 992px) {

            .navbar-collapse {
                margin-right: 40px;

            }

            .navbar-nav {
                margin-left: 5%;
            }

            .nav-item {
                font-size: 15px;
                font-weight: 700;
        }

        @media (max-width: 991.98px) {
            .navbar-nav {
                margin-top: 10px;
            }

            .nav-item {

                .btn {
                    margin-bottom: 10px;
                    margin-left: -10px;
                }
            }
        }
    }
}}

mat-sidenav-container {
    height: 100%;
    background-color: white;
}


mat-sidenav {
    background: $blue_card;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    z-index: 100;
}

@media (max-width: 767.98px) {
    mat-sidenav {
        width: 45%;
    }
}

.shortcut-links {
    a {
        display: flex;
        align-items: center;
        width: fit-content;
        flex-wrap: wrap;
        text-decoration: none;
        color: $dark;

        img {
            margin-right: 20px;
            max-width: 20px;
        }

        p {
            margin-top: 15px;
        }
    }

    .active {
        color: blue;
    }
}



mat-sidenav-content {
    padding-top: 5%;
    height: 100%;
    background-color: transparent;
}

@media (max-width: 767.98px) {
    mat-sidenav-content {
        padding-top: 15%;
    }
}





       


